In [21]:
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics, svm
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn import decomposition, ensemble

import pandas as pd
import xgboost, numpy, textblob, string
from keras.preprocessing import text, sequence
from keras import layers, models, optimizers

import nltk

In [22]:
nltk.download('stopwords')
stop=stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mxnog\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

NameError: name 'stopwords' is not defined

In [12]:
train=pd.read_csv("Corona_NLP_train.csv",encoding='latin1')
test=pd.read_csv("Corona_NLP_test.csv",encoding='latin1')
train

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,Response to complaint not provided citing COVI...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,You know itÂs getting tough when @KameronWild...,Positive
41155,44954,89906,NaN,14-04-2020,Is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative

In [16]:
train['word_count']=train['OriginalTweet'].apply(lambda x: len(str(x).split(" ")))
train[['OriginalTweet', 'word_count']].head(10)

                                       OriginalTweet  word_count
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...           8
1  advice Talk to your neighbours family to excha...          38
2  Coronavirus Australia: Woolworths to give elde...          14
3  My food stock is not the only one which is emp...          40
4  Me, ready to go at supermarket during the #COV...          38
5  As news of the regionÂs first confirmed COVID...          36
6  Cashier at grocery store was sharing his insig...          28
7  Was at the supermarket today. Didn't buy toile...          12
8  Due to COVID-19 our retail store and classroom...          46
9  For corona prevention,we should stop to buy th...          42

In [17]:
train['char_count']=train['OriginalTweet'].str.len()
train[['OriginalTweet', 'char_count']].head(10)

                                       OriginalTweet  char_count
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...         111
1  advice Talk to your neighbours family to excha...         237
2  Coronavirus Australia: Woolworths to give elde...         131
3  My food stock is not the only one which is emp...         306
4  Me, ready to go at supermarket during the #COV...         310
5  As news of the regionÂs first confirmed COVID...         250
6  Cashier at grocery store was sharing his insig...         180
7  Was at the supermarket today. Didn't buy toile...         119
8  Due to COVID-19 our retail store and classroom...         280
9  For corona prevention,we should stop to buy th...         267

In [18]:
def avg_word(sentence):
    words=sentence.split()
    return (sum(len(word) for word in words)/len(words))
train['avg_words'] = train['OriginalTweet'].apply(lambda x:avg_word(x))
train[['OriginalTweet', 'avg_words']].head(10)

                                       OriginalTweet  avg_words
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...  13.000000
1  advice Talk to your neighbours family to excha...   5.263158
2  Coronavirus Australia: Woolworths to give elde...   8.428571
3  My food stock is not the only one which is emp...   6.000000
4  Me, ready to go at supermarket during the #COV...   6.525000
5  As news of the regionÂs first confirmed COVID...   5.972222
6  Cashier at grocery store was sharing his insig...   5.464286
7  Was at the supermarket today. Didn't buy toile...   7.846154
8  Due to COVID-19 our retail store and classroom...   5.222222
9  For corona prevention,we should stop to buy th...   5.380952

In [13]:
# df=pd.concat([train,test])
# df['OriginalTweet']=df['OriginalTweet'].astype(str)
# df['Sentiment']=df['Sentiment'].astype(str)

# train['OriginalTweet']=train['OriginalTweet'].astype(str)
# train['Sentiment']=train['Sentiment'].astype(str)

# test['OriginalTweet']=test['OriginalTweet'].astype(str)
# test['Sentiment']=test['Sentiment'].astype(str)
# df.head()

In [11]:
# print('Training Set Shape = {}'.format(train.shape))
# print('Training Set Memory Usage = {:.2f} MB'.format(train.memory_usage().sum() / 1024**2))
# print('Test Set Shape = {}'.format(test.shape))
# print('Test Set Memory Usage = {:.2f} MB'.format(test.memory_usage().sum() / 1024**2))
# print("\n")
# print(train.head())
# print("\n")
# print(train.info())

Training Set Shape = (41157, 6)
Training Set Memory Usage = 1.88 MB
Test Set Shape = (3798, 6)
Test Set Memory Usage = 0.17 MB


   UserName  ScreenName   Location     TweetAt  \
0      3799       48751     London  16-03-2020
1      3800       48752         UK  16-03-2020
2      3801       48753  Vagabonds  16-03-2020
3      3802       48754        NaN  16-03-2020
4      3803       48755        NaN  16-03-2020

                                       OriginalTweet           Sentiment
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1  advice Talk to your neighbours family to excha...            Positive
2  Coronavirus Australia: Woolworths to give elde...            Positive
3  My food stock is not the only one which is emp...            Positive
4  Me, ready to go at supermarket during the #COV...  Extremely Negative


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41157 entries, 0 to 41156
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UserName       41157 non-null  int64
 1   ScreenName     41157 non-null  int64
 2   Location       32567 non-null  object
 3   TweetAt        41157 non-null  object
 4   OriginalTweet  41157 non-null  object
 5   Sentiment      41157 non-null  object
dtypes: int64(2), object(4)
memory usage: 1.9+ MB
None

In [5]:
# # train.drop_duplicates()
# print(" Shape of dataframe after dropping duplicates: ", df.shape)

 Shape of dataframe after dropping duplicates:  (44955, 6)

In [6]:
# print('Total tweets in this data: {}'.format(df.shape[0]))
# print('Total Unique Users in this data: {}'.format(df['UserName'].nunique()))

Total tweets in this data: 44955
Total Unique Users in this data: 44955

In [7]:
# null= df.isnull().sum().sort_values(ascending=False)
# total =df.shape[0]
# percent_missing= (df.isnull().sum()/total).sort_values(ascending=False)

# missing_data= pd.concat([null, percent_missing], axis=1, keys=['Total missing', 'Percent missing'])

# missing_data.reset_index(inplace=True)
# missing_data= missing_data.rename(columns= { "index": " column name"})
 
# print ("Null Values in each column:\n", missing_data)

Null Values in each column:
      column name  Total missing  Percent missing
0       Location           9424         0.209632
1      Sentiment              0         0.000000
2  OriginalTweet              0         0.000000
3        TweetAt              0         0.000000
4     ScreenName              0         0.000000
5       UserName              0         0.000000

In [8]:
# print(df.Sentiment.unique())
# print(df.Sentiment.value_counts())

['Neutral' 'Positive' 'Extremely Negative' 'Negative' 'Extremely Positive']
Positive              12369
Negative              10958
Neutral                8332
Extremely Positive     7223
Extremely Negative     6073
Name: Sentiment, dtype: int64

In [9]:
# # We will copy the text in another column so that the original text is also there for comparison

# df['text'] = df.OriginalTweet
# df["text"] = df["text"].astype(str)

# train['text'] = train.OriginalTweet
# train["text"] = train["text"].astype(str)

# test['text'] = test.OriginalTweet
# test["text"] = test["text"].astype(str)

# # Data has 5 classes, let's convert them to 3

# def classes_def(x):
#     if x ==  "Extremely Positive":
#         return "positive"
#     elif x == "Extremely Negative":
#         return "negative"
#     elif x == "Negative":
#         return "negative"
#     elif x ==  "Positive":
#         return "positive"
#     else:
#         return "neutral"
    
# df['sentiment']=df['Sentiment'].apply(lambda x:classes_def(x))
# train['sentiment']=train['Sentiment'].apply(lambda x:classes_def(x))
# test['sentiment']=test['Sentiment'].apply(lambda x:classes_def(x))
# target=df['sentiment']

# df.sentiment.value_counts(normalize= True)

positive    0.435814
negative    0.378846
neutral     0.185341
Name: sentiment, dtype: float64