In [81]:
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics, svm
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn import decomposition, ensemble

import pandas as pd
import xgboost, numpy, textblob, string
from keras.preprocessing import text, sequence
from keras import layers, models, optimizers

import nltk

from textblob import TextBlob

import numpy as np
import pandas as pd

In [3]:
nltk.download('stopwords')
from nltk.corpus import stopwords
stop=stopwords.words('english')

nltk.download('punkt')

from nltk.stem import PorterStemmer

from textblob import Word
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mxnog\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\mxnog\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\mxnog\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [4]:
train=pd.read_csv("Corona_NLP_train.csv",encoding='latin1')
test=pd.read_csv("Corona_NLP_test.csv",encoding='latin1')
train

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,Response to complaint not provided citing COVI...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,You know itÂs getting tough when @KameronWild...,Positive
41155,44954,89906,NaN,14-04-2020,Is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative

In [5]:
train['word_count']=train['OriginalTweet'].apply(lambda x: len(str(x).split(" ")))
train[['OriginalTweet', 'word_count']].head(10)

                                       OriginalTweet  word_count
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...           8
1  advice Talk to your neighbours family to excha...          38
2  Coronavirus Australia: Woolworths to give elde...          14
3  My food stock is not the only one which is emp...          40
4  Me, ready to go at supermarket during the #COV...          38
5  As news of the regionÂs first confirmed COVID...          36
6  Cashier at grocery store was sharing his insig...          28
7  Was at the supermarket today. Didn't buy toile...          12
8  Due to COVID-19 our retail store and classroom...          46
9  For corona prevention,we should stop to buy th...          42

In [6]:
train['char_count']=train['OriginalTweet'].str.len()
train[['OriginalTweet', 'char_count']].head(10)

                                       OriginalTweet  char_count
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...         111
1  advice Talk to your neighbours family to excha...         237
2  Coronavirus Australia: Woolworths to give elde...         131
3  My food stock is not the only one which is emp...         306
4  Me, ready to go at supermarket during the #COV...         310
5  As news of the regionÂs first confirmed COVID...         250
6  Cashier at grocery store was sharing his insig...         180
7  Was at the supermarket today. Didn't buy toile...         119
8  Due to COVID-19 our retail store and classroom...         280
9  For corona prevention,we should stop to buy th...         267

In [7]:
def avg_word(sentence):
    words=sentence.split()
    return (sum(len(word) for word in words)/len(words))
train['avg_words'] = train['OriginalTweet'].apply(lambda x:avg_word(x))
train[['OriginalTweet', 'avg_words']].head(10)

                                       OriginalTweet  avg_words
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...  13.000000
1  advice Talk to your neighbours family to excha...   5.263158
2  Coronavirus Australia: Woolworths to give elde...   8.428571
3  My food stock is not the only one which is emp...   6.000000
4  Me, ready to go at supermarket during the #COV...   6.525000
5  As news of the regionÂs first confirmed COVID...   5.972222
6  Cashier at grocery store was sharing his insig...   5.464286
7  Was at the supermarket today. Didn't buy toile...   7.846154
8  Due to COVID-19 our retail store and classroom...   5.222222
9  For corona prevention,we should stop to buy th...   5.380952

In [8]:
train['stopwords']=train['OriginalTweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['OriginalTweet', 'stopwords']].head(10)

                                       OriginalTweet  stopwords
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...          2
1  advice Talk to your neighbours family to excha...         11
2  Coronavirus Australia: Woolworths to give elde...          1
3  My food stock is not the only one which is emp...         14
4  Me, ready to go at supermarket during the #COV...         13
5  As news of the regionÂs first confirmed COVID...          8
6  Cashier at grocery store was sharing his insig...          9
7  Was at the supermarket today. Didn't buy toile...          2
8  Due to COVID-19 our retail store and classroom...         18
9  For corona prevention,we should stop to buy th...         16

In [9]:
specialPatt=r"[^a-zA-Z0-9 ]"
train['special_characters']=train['OriginalTweet'].str.findall(specialPatt)
train['special_characters']=train['special_characters'].apply(lambda x: len(x))
train[['OriginalTweet', 'special_characters']].head(10)

                                       OriginalTweet  special_characters
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...                  19
1  advice Talk to your neighbours family to excha...                   0
2  Coronavirus Australia: Woolworths to give elde...                   8
3  My food stock is not the only one which is emp...                  37
4  Me, ready to go at supermarket during the #COV...                  35
5  As news of the regionÂs first confirmed COVID...                  15
6  Cashier at grocery store was sharing his insig...                  12
7  Was at the supermarket today. Didn't buy toile...                  18
8  Due to COVID-19 our retail store and classroom...                  12
9  For corona prevention,we should stop to buy th...                   8

In [10]:
train['numerics'] = train['OriginalTweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train[['OriginalTweet', 'numerics']].head(10)

                                       OriginalTweet  numerics
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...         0
1  advice Talk to your neighbours family to excha...         0
2  Coronavirus Australia: Woolworths to give elde...         0
3  My food stock is not the only one which is emp...         0
4  Me, ready to go at supermarket during the #COV...         0
5  As news of the regionÂs first confirmed COVID...         0
6  Cashier at grocery store was sharing his insig...         0
7  Was at the supermarket today. Didn't buy toile...         0
8  Due to COVID-19 our retail store and classroom...         0
9  For corona prevention,we should stop to buy th...         0

In [11]:
train['upper_count'] = train['OriginalTweet'].apply(lambda x: len([x for x in x.split() if x.isupper]))
train[['OriginalTweet', 'upper_count']].head(10)

                                       OriginalTweet  upper_count
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...            8
1  advice Talk to your neighbours family to excha...           38
2  Coronavirus Australia: Woolworths to give elde...           14
3  My food stock is not the only one which is emp...           42
4  Me, ready to go at supermarket during the #COV...           40
5  As news of the regionÂs first confirmed COVID...           36
6  Cashier at grocery store was sharing his insig...           28
7  Was at the supermarket today. Didn't buy toile...           13
8  Due to COVID-19 our retail store and classroom...           45
9  For corona prevention,we should stop to buy th...           42

In [12]:
train['OriginalTweet'] = train['OriginalTweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['OriginalTweet'].head(10)

0    @menyrbie @phil_gahan @chrisitv https://t.co/i...
1    advice talk to your neighbours family to excha...
2    coronavirus australia: woolworths to give elde...
3    my food stock is not the only one which is emp...
4    me, ready to go at supermarket during the #cov...
5    as news of the regionâs first confirmed covid...
6    cashier at grocery store was sharing his insig...
7    was at the supermarket today. didn't buy toile...
8    due to covid-19 our retail store and classroom...
9    for corona prevention,we should stop to buy th...
Name: OriginalTweet, dtype: object

In [13]:
train['OriginalTweet'] = train['OriginalTweet'].str.replace(r"(\.|\,|!|\?|:|;)", '')
train['OriginalTweet'].head(10)

0    @menyrbie @phil_gahan @chrisitv https//tco/ifz...
1    advice talk to your neighbours family to excha...
2    coronavirus australia woolworths to give elder...
3    my food stock is not the only one which is emp...
4    me ready to go at supermarket during the #covi...
5    as news of the regionâs first confirmed covid...
6    cashier at grocery store was sharing his insig...
7    was at the supermarket today didn't buy toilet...
8    due to covid-19 our retail store and classroom...
9    for corona preventionwe should stop to buy thi...
Name: OriginalTweet, dtype: object

In [14]:
train['OriginalTweet'] = train['OriginalTweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['OriginalTweet'].head(10)

0    @menyrbie @phil_gahan @chrisitv https//tco/ifz...
1    advice talk neighbours family exchange phone n...
2    coronavirus australia woolworths give elderly ...
3    food stock one empty please panic enough food ...
4    ready go supermarket #covid19 outbreak i'm par...
5    news regionâs first confirmed covid-19 case c...
6    cashier grocery store sharing insights #covid_...
7    supermarket today buy toilet paper #rebel #toi...
8    due covid-19 retail store classroom atlanta op...
9    corona preventionwe stop buy things cash use o...
Name: OriginalTweet, dtype: object

In [15]:
freq=pd.Series(' '.join(train['OriginalTweet']).split()).value_counts()[:10]
freq

#coronavirus    15816
prices           7728
covid-19         7235
food             6698
store            6688
supermarket      6557
grocery          6023
#covid19         5613
people           5436
consumer         4214
dtype: int64

In [16]:
freq=list(freq.index)
train['OriginalTweet']= train['OriginalTweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['OriginalTweet'].head(10)

0    @menyrbie @phil_gahan @chrisitv https//tco/ifz...
1    advice talk neighbours family exchange phone n...
2    coronavirus australia woolworths give elderly ...
3    stock one empty please panic enough everyone t...
4    ready go outbreak i'm paranoid stock litteraly...
5    news regionâs first confirmed case came sulli...
6    cashier sharing insights #covid_19 prove credi...
7    today buy toilet paper #rebel #toiletpapercris...
8    due retail classroom atlanta open walk-in busi...
9    corona preventionwe stop buy things cash use o...
Name: OriginalTweet, dtype: object

In [17]:
leastFreq=pd.Series(' '.join(train['OriginalTweet']).split()).value_counts()[-10:]
leastFreq

https//tco/bvpcxzu9qt    1
millennium               1
https//tco/fmffoib5hj    1
https//tco/uneyyzepow    1
lockdown&ampkeeping      1
@arfonwilliams4          1
#peopleofwalmart         1
self-protection          1
https//tco/4vmunphzrw    1
infarmâs                1
dtype: int64

In [18]:
leastFreq= list(leastFreq.index)
train['OriginalTweet'] = train['OriginalTweet'].apply(lambda x: " ".join(x for x in x.split() if x not in leastFreq))
train['OriginalTweet'].head(10)

0    @menyrbie @phil_gahan @chrisitv https//tco/ifz...
1    advice talk neighbours family exchange phone n...
2    coronavirus australia woolworths give elderly ...
3    stock one empty please panic enough everyone t...
4    ready go outbreak i'm paranoid stock litteraly...
5    news regionâs first confirmed case came sulli...
6    cashier sharing insights #covid_19 prove credi...
7    today buy toilet paper #rebel #toiletpapercris...
8    due retail classroom atlanta open walk-in busi...
9    corona preventionwe stop buy things cash use o...
Name: OriginalTweet, dtype: object

In [19]:
train['OriginalTweet'][:5].apply(lambda x: str(TextBlob(x).correct()))
#ZMIENIĆ NA WSZYSTKIE

0    @menyrbie @phil_gahan @christ http//to/ifz9fan...
1    advice talk neighbours family exchange phone n...
2    coronavirus australia woolworths give elderly ...
3    stock one empty please panic enough everyone t...
4    ready go outbreak i'm paranoid stock literary ...
Name: OriginalTweet, dtype: object

In [20]:
TextBlob(train['OriginalTweet'][1]).words
#ZMIENIĆ NA WSZYSTKIE

WordList(['advice', 'talk', 'neighbours', 'family', 'exchange', 'phone', 'numbers', 'create', 'contact', 'list', 'phone', 'numbers', 'neighbours', 'schools', 'employer', 'chemist', 'gp', 'set', 'online', 'shopping', 'accounts', 'poss', 'adequate', 'supplies', 'regular', 'meds', 'order'])

In [21]:
# st = PorterStemmer()
# train['OriginalTweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
# #ZMIENIĆ NA WSZYSTKIE

In [22]:
train['OriginalTweet'] = train['OriginalTweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
train['OriginalTweet'].head(10)

0    @menyrbie @phil_gahan @chrisitv https//tco/ifz...
1    advice talk neighbour family exchange phone nu...
2    coronavirus australia woolworth give elderly d...
3    stock one empty please panic enough everyone t...
4    ready go outbreak i'm paranoid stock litteraly...
5    news regionâs first confirmed case came sulli...
6    cashier sharing insight #covid_19 prove credib...
7    today buy toilet paper #rebel #toiletpapercris...
8    due retail classroom atlanta open walk-in busi...
9    corona preventionwe stop buy thing cash use on...
Name: OriginalTweet, dtype: object

In [24]:
TextBlob(train['OriginalTweet'][1]).ngrams(2)
#zmienić na wszystkie

[WordList(['advice', 'talk']),
 WordList(['talk', 'neighbour']),
 WordList(['neighbour', 'family']),
 WordList(['family', 'exchange']),
 WordList(['exchange', 'phone']),
 WordList(['phone', 'number']),
 WordList(['number', 'create']),
 WordList(['create', 'contact']),
 WordList(['contact', 'list']),
 WordList(['list', 'phone']),
 WordList(['phone', 'number']),
 WordList(['number', 'neighbour']),
 WordList(['neighbour', 'school']),
 WordList(['school', 'employer']),
 WordList(['employer', 'chemist']),
 WordList(['chemist', 'gp']),
 WordList(['gp', 'set']),
 WordList(['set', 'online']),
 WordList(['online', 'shopping']),
 WordList(['shopping', 'account']),
 WordList(['account', 'po']),
 WordList(['po', 'adequate']),
 WordList(['adequate', 'supply']),
 WordList(['supply', 'regular']),
 WordList(['regular', 'med']),
 WordList(['med', 'order'])]

In [35]:
tf1 = (train['OriginalTweet'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

        words  tf
0      number   2
1       phone   2
2   neighbour   2
3      school   1
4    adequate   1
5      advice   1
6      online   1
7     regular   1
8      family   1
9        talk   1
10   exchange   1
11         po   1
12    contact   1
13     create   1
14     supply   1
15         gp   1
16       list   1
17    account   1
18      order   1
19   employer   1
20        med   1
21    chemist   1
22        set   1
23   shopping   1

In [37]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(train.shape[0]/(len(train[train['OriginalTweet'].str.contains(word)])))
tf1

        words  tf       idf
0      number   2  4.656442
1       phone   2  5.076073
2   neighbour   2  6.060801
3      school   1  4.796204
4    adequate   1  6.733329
5      advice   1  4.997528
6      online   1  2.525595
7     regular   1  5.336882
8      family   1  3.846364
9        talk   1  4.613882
10   exchange   1  6.654857
11         po   1  1.354749
12    contact   1  4.659003
13     create   1  5.012021
14     supply   1  3.020753
15         gp   1  4.811019
16       list   1  3.846364
17    account   1  5.568903
18      order   1  3.534239
19   employer   1  6.530805
20        med   1  2.933036
21    chemist   1  6.582098
22        set   1  4.052867
23   shopping   1  2.433963

In [38]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

        words  tf       idf      tfidf
0      number   2  4.656442   9.312883
1       phone   2  5.076073  10.152146
2   neighbour   2  6.060801  12.121602
3      school   1  4.796204   4.796204
4    adequate   1  6.733329   6.733329
5      advice   1  4.997528   4.997528
6      online   1  2.525595   2.525595
7     regular   1  5.336882   5.336882
8      family   1  3.846364   3.846364
9        talk   1  4.613882   4.613882
10   exchange   1  6.654857   6.654857
11         po   1  1.354749   1.354749
12    contact   1  4.659003   4.659003
13     create   1  5.012021   5.012021
14     supply   1  3.020753   3.020753
15         gp   1  4.811019   4.811019
16       list   1  3.846364   3.846364
17    account   1  5.568903   5.568903
18      order   1  3.534239   3.534239
19   employer   1  6.530805   6.530805
20        med   1  2.933036   2.933036
21    chemist   1  6.582098   6.582098
22        set   1  4.052867   4.052867
23   shopping   1  2.433963   2.433963

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
train_vect = tfidf.fit_transform(train['OriginalTweet'])

train_vect

<41157x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 394475 stored elements in Compressed Sparse Row format>

In [63]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(train['OriginalTweet'])
train_bow

<41157x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 439485 stored elements in Compressed Sparse Row format>

In [43]:
train['sentiment'] = train['OriginalTweet'].apply(lambda x: TextBlob(x).sentiment[0])
train[['OriginalTweet', 'sentiment']].head()

                                       OriginalTweet  sentiment
0  @menyrbie @phil_gahan @chrisitv https//tco/ifz...   0.000000
1  advice talk neighbour family exchange phone nu...   0.166667
2  coronavirus australia woolworth give elderly d...  -0.200000
3  stock one empty please panic enough everyone t...   0.175000
4  ready go outbreak i'm paranoid stock litteraly...  -0.077778

In [78]:
from gensim.scripts.glove2word2vec import glove2word2vec
glove_input_file = 'glove.6B.100d.txt'
word2vec_output_file = 'glove.6B.100d.txt.word2vec'
glove2word2vec(glove_input_file, word2vec_output_file)

(400000, 100)

# wektoryzacja

In [79]:
from gensim.models import KeyedVectors # load the Stanford GloVe model
filename = 'glove.6B.100d.txt.word2vec'
model = KeyedVectors.load_word2vec_format(filename, binary=False)

In [71]:
tweets=np.array(train['OriginalTweet'])
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
X = vectorizer.fit_transform(tweets)

vectorizer.get_feature_names()

['00',
 '000',
 '0000',
 '0000009375',
 '000042',
 '0000hrs',
 '000162',
 '0006',
 '000francs',
 '000s',
 '001',
 '0010',
 '0016',
 '0017â',
 '0025450557',
 '0026691661',
 '005',
 '00541296',
 '009p',
 '00am',
 '00ctnbm22s',
 '00f7gzyfom',
 '00pdsup4wb',
 '00pm',
 '00pwksjyey',
 '00pxujzhmf',
 '00ry5yh8ro',
 '00urjfxstc',
 '00zyjjmcet',
 '01',
 '010',
 '0100am',
 '0101',
 '0103641972',
 '0113',
 '0115',
 '012020',
 '0121',
 '01236',
 '01273',
 '0131',
 '01392576476',
 '014',
 '01449',
 '0147',
 '01474',
 '01625',
 '0169061211',
 '017569',
 '01756986',
 '0175698634',
 '01765',
 '01892',
 '01952',
 '01ae5shygg',
 '01he1moz2x',
 '01hr',
 '01kg',
 '01laovtqn2',
 '01oc3pig5b',
 '01wbjdrnfd',
 '02',
 '020',
 '0200hrs',
 '0203',
 '02037386000',
 '0207pm',
 '021',
 '0214996028',
 '02268443322',
 '023',
 '024p',
 '025',
 '0258',
 '027',
 '0274',
 '028',
 '02890391225',
 '029',
 '02920',
 '02ch7r0rlu',
 '02ddkwsnxo',
 '02dlx6wbt3',
 '02kklx47ez',
 '02uqpatpn5',
 '02utqkozdg',
 '02zy7g1xsx',
 '03',
 '0300',
 '0300pm',
 '03031239999',
 '03065659733',
 '03237979660',
 '03252020',
 '0330',
 '03338819977',
 '03344859556',
 '0337210852',
 '034',
 '0344',
 '0345',
 '03454',
 '0351',
 '036',
 '03byer4mbq',
 '03hrs',
 '03ms4hdel0',
 '03ofwt3z0e',
 '03vkr3ry8l',
 '04',
 '042',
 '043dzdo5mr',
 '0469315906',
 '04lsfyiqso',
 '04zbvy1sc2',
 '04zdijzjgu',
 '05',
 '0500',
 '0508',
 '050paisa',
 '051',
 '053jq9kk2i',
 '0540556339',
 '0545',
 '057',
 '0577',
 '05800',
 '059',
 '05hzhnqjih',
 '05pm',
 '05sznpq8ol',
 '05vr9ed3nq',
 '05xdaictpj',
 '06',
 '0600',
 '0600am',
 '0600hrs',
 '0604',
 '06042020get',
 '0618',
 '0640',
 '0645',
 '069y0p4dna',
 '06hjrhbwnm',
 '06unxinwt6',
 '06w83ym96z',
 '07',
 '0700',
 '07002255226',
 '0704',
 '07063501522',
 '0706350152208028611855',
 '0707',
 '0711590279',
 '0712128888',
 '0715783634',
 '0721722333',
 '0745',
 '07493',
 '0754663822',
 '0761749713',
 '0764',
 '07708913141',
 '07712',
 '0772460297',
 '0772469323',
 '07767164246',
 '077svn5jxj',
 '0782909153',
 '0787370387',
 '0789',
 '07939252948',
 '07ffpvlcvt',
 '08',
 '080',
 '0800',
 '0800100066',
 '0800203033',
 '0800â',
 '08028611855',
 '08079024516',
 '0808',
 '08081',
 '08082231133',
 '08121156706',
 '08130959797we',
 '08162453243',
 '08175974345',
 '0820am',
 '0828628237',
 '083',
 '0830',
 '084',
 '086ohsc4ox',
 '08acefeznw',
 '08aok3td5j',
 '08etphia11',
 '08kghzn6ev',
 '08l9fyv9rc',
 '08smp18fiq',
 '08uu2qotju',
 '08vfgiyzsi',
 '08whmwi0i7',
 '09',
 '0900',
 '0901',
 '09032144592',
 '090420',
 '09093052802',
 '092',
 '092zly4o8z',
 '0930',
 '0945',
 '096as6d342',
 '09734',
 '099',
 '09hgi2fzsk',
 '09kyoqctch',
 '09l8glswho',
 '0a5jjlgvxj',
 '0aaj71zczs',
 '0acif25540',
 '0adhdhq1pe',
 '0adn8bs4rl',
 '0aduprvao5',
 '0aifqwlhhy',
 '0ajaifr8et',
 '0ajg60iogf',
 '0al9keyauf',
 '0anwagdi1g',
 '0ao1y4nsrx',
 '0asxtqtfyq',
 '0b4olxanbg',
 '0b74uur9xk',
 '0beca6uzbt',
 '0bfeslmltq',
 '0bkrfwkems',
 '0bktodif4a',
 '0blnzayudb',
 '0bndtl8goz',
 '0bpgegmnsj',
 '0bqchadhtg',
 '0bqvbmfcqc',
 '0butoebmel',
 '0bxlrh7yf6',
 '0by8vlhet6',
 '0bythrpavh',
 '0c294hncui',
 '0c2uoknzfi',
 '0c357xhkpt',
 '0c35u3vqed',
 '0c5y8ftmm4',
 '0cdtiqm4px',
 '0cee0zoumg',
 '0cf7gvtp5m',
 '0cfgnjol7g',
 '0chrdrzfdi',
 '0cnom6r1fn',
 '0cp388qkv6',
 '0cscqx1nz5',
 '0ctt5d0wvm',
 '0cv0793ols',
 '0cxzf2jai6',
 '0d0qvif1vp',
 '0d3yzk9cjm',
 '0d6z5s9zmo',
 '0dbghkn0ga',
 '0dede9s010',
 '0derujg5da',
 '0dlg3g4mxq',
 '0dtcd68mjp',
 '0dusd70dsc',
 '0dwzhquwyx',
 '0dzehtrw9i',
 '0e05lcuiro',
 '0eel3ji9tf',
 '0ef54j7iqz',
 '0ehfyhi1dv',
 '0ehzhg2fto',
 '0einz2v2oj',
 '0eiuqorscl',
 '0eklyhmjae',
 '0elrnjmbzi',
 '0errgwcgvf',
 '0evoznirqx',
 '0evy8t12gd',
 '0f10jqkszr',
 '0f3jmi0q42',
 '0f8epvncpw',
 '0fbxkf5dq7',
 '0fcls94xwa',
 '0fe9naq809',
 '0ffers',
 '0fiomwkexj',
 '0fj1oe5vje',
 '0fjmroarml',
 '0fjofu9hml',
 '0fmsmlgepm',
 '0fn2ttwsbn',
 '0fqqojrckb',
 '0ftgdldrpb',
 '0fvlhwkugy',
 '0fwtr62e85',
 '0fxpmryfhw',
 '0g4yifyjco',
 '0g6y1b0adl',
 '0g9lpxvhip',
 '0gb8u4buw9',
 '0ggjlghyn9',
 '0gmfmbq501',
 '0gnox52ulm',
 '0gqupniyfa',
 '0gtv8zpqlh',
 '0gzkyxnoxa',
 '0h4uemct5k',
 '0hbjiumwqs',
 '0hdjbvqckb',
 '0hkrwaxfbe',
 '0hlajosjwn',
 '0hrk8oszal',
 '0hsq6h72z1',
 '0htaz8wrcx',
 '0hvqjekukl',
 '0i3fqufday',
 '0idkrgtinp',
 '0if4yuddmz',
 '0iiwlgcvgu',
 '0ikkhi1qum',
 '0ioc1tm4ek',
 '0irkppgdgh',
 '0ityense7x',
 '0iysodepun',
 '0j1g1kjazc',
 '0j1iossvzs',
 '0j4kaubq4h',
 '0j5brqjk0n',
 '0j6217vwcy',
 '0jckrstzd0',
 '0jeccuqcvo',
 '0jelzm0l24',
 '0jewyjs8f6',
 '0jhf24nz3n',
 '0jic0w0ygz',
 '0jjctgnrzi',
 '0jmj1gpol0',
 '0jnjdvgaoi',
 '0jqwh5ynlv',
 '0jr60osrp8',
 '0juy1k1qqs',
 '0jxs2mpovp',
 '0jyx7vjauj',
 '0jz7cy3ptv',
 '0kfsxfmzbh',
 '0kivuyztq3',
 '0klngzpoke',
 '0kmsql2nlt',
 '0knwpm2270',
 '0kpkats9kp',
 '0kpufqwvqn',
 '0krdyjpfad',
 '0krxtuhj4z',
 '0ksfkhhfjk',
 '0kunm9kr8j',
 '0kuxlawu2n',
 '0kyly6fdtt',
 '0kyzdwt5gv',
 '0lbecedcrt',
 '0lbhpho81j',
 '0ldm6yqnzr',
 '0ldt5q6mda',
 '0lfjrpmu9n',
 '0licxpncg3',
 '0ljksqyv7z',
 '0ljnhiawys',
 '0llksnxtbw',
 '0lnvbssqei',
 '0lpb7msfr4',
 '0lqjlsua2m',
 '0ltldvrujj',
 '0lweuraalx',
 '0lx3q7kta6',
 '0lzpltwsf4',
 '0m3cdqgwxe',
 '0m96l6qibf',
 '0m9n8fvq6w',
 '0map4lejwq',
 '0mdinlohqp',
 '0meoonaupq',
 '0mkbeunqxr',
 '0mm26vdbdp',
 '0mm9ava7xh',
 '0mmjbv7ji3',
 '0mruvcbpec',
 '0msdpnmutq',
 '0msenfveba',
 '0muioea9as',
 '0mvboqjkbr',
 '0myppzhrgu',
 '0n3fimc78q',
 '0nesauwja8',
 '0nhjfatbck',
 '0nlbyjtagt',
 '0ns9cuml0a',
 '0nvhl6jpzf',
 '0nxsgo3gvu',
 '0nyu1mtr1t',
 '0nyud6pfmb',
 '0o2bgunh19',
 '0o2ginxja3',
 '0oahf51fti',
 '0obm5qtfhd',
 '0ocsmepylp',
 '0odcgacoru',
 '0oivnpohq1',
 '0oj1d88eh4',
 '0onm3kceuv',
 '0orshy5a9v',
 '0orsils2ut',
 '0osl9eagk4',
 '0osuprkp1a',
 '0owye1qubw',
 '0oyslipl5b',
 '0p4bon4oxo',
 '0p5osy3t5e',
 '0pbfx7hkpw',
 '0pgczdppot',
 '0pgle40bpg',
 '0pgxqdzn9z',
 '0pjxarzqlf',
 '0pkubn9gvu',
 '0pm6djjzhn',
 '0pnxcgvwvi',
 '0pnxlgwh5v',
 '0prse20g9v',
 '0prunslm5y',
 '0psiumxc8q',
 '0ptwda9okp',
 '0pz9wmkwzo',
 '0qcnwnswgm',
 '0qczf5nj4e',
 '0qgqlj6ouq',
 '0qj8yln5ia',
 '0qkgsped4t',
 '0qnpn4svbb',
 '0qnwfwus95',
 '0qov3jap9m',
 '0qpe3zo9ng',
 '0qso4dhcix',
 '0qxou4k83v',
 '0qz5lcfcdw',
 '0r3c6uvyqg',
 '0r9zlqdzms',
 '0rcxyjrf0e',
 '0rno2qlcj1',
 '0rqâ',
 '0rtmvmvq53',
 '0rulf9fkug',
 '0rvr8xkxd7',
 '0s62lzwahl',
 '0sch9ign1l',
 '0scqs8ahnf',
 '0sdlwcexqe',
 '0sfgvgzos6',
 '0sgjny4epj',
 '0slfthps90',
 '0sli2qpm6t',
 '0smaavmjxe',
 '0svs9yxpld',
 '0t4kn6q8kj',
 '0t4uz1edic',
 '0tglyakwoe',
 '0tgm3z8h6o',
 '0tidrjezqs',
 '0tjik023ca',
 '0tlsonkq3l',
 '0tnbujdnma',
 '0tpiqzii6w',
 '0tvnwtd3m4',
 '0u1qka9ocu',
 '0ua1rp4ink',
 '0ubcak7nvz',
 '0uemccuetz',
 '0ufthtol2m',
 '0ufxun3hiz',
 '0uhgm8gsp8',
 '0ujpelmevz',
 '0ukurkisun',
 '0umitbbhro',
 '0unheccdmh',
 '0upycmjdqt',
 '0urtemtifm',
 '0uvkrmp4oe',
 '0uvrjid7ty',
 '0uybbufjz0',
 '0v7kr54sjs',
 '0va5eqqv98',
 '0vamszhsbg',
 '0vd2azt4gx',
 '0vokfou8r6',
 '0vos9thbbx',
 '0vqljqgehsâ',
 '0vrps3rj45',
 '0vsmytkbbw',
 '0vtewoektr',
 '0w574lm9nh',
 '0w7awqlqbs',
 '0w8oioihd0',
 '0wa8lzjg2j',
 '0wdjhqxexw',
 '0whfza72gg',
 '0whnytwc0h',
 '0wncjslpnh',
 '0woxzgqost',
 '0wrnbcugxu',
 '0wrsjtziub',
 '0wvrezw5uk',
 '0wvyybajgd',
 '0ww6ommn3d',
 '0wzobddzos',
 '0xaf8unwo1',
 '0xdwpmrt4v',
 '0xhrbojgf6',
 '0xj48oedfx',
 '0xm8xjhgjz',
 '0xmz5ww1we',
 '0xnbzwjdyc',
 '0xqy8lxujh',
 '0xu5zflimi',
 '0xwfceivm9',
 '0xwr3mzc0l',
 '0xzjrox0bz',
 '0y4dx7dihn',
 '0y8tjyomrb',
 '0yavqu1w3u',
 '0ygxjcaxas',
 '0yilxvpdkp',
 '0ykwwpkleg',
 '0yn9mxmnku',
 '0yqts8luzh',
 '0yrhgq1f5d',
 '0ysahochax',
 '0ysrksvib8',
 '0yxiwaywid',
 '0z2idvyhlw',
 '0z5cb9mrj3',
 '0z8zjs4zfl',
 '0zb1jeojqs',
 '0zbq790ug5',
 '0zd14yovuo',
 '0zjpzjnugp',
 '0zmjg5rpvj',
 '0zmukzmpbx',
 '0ztqizqmqd',
 '0zx4vrjzt7',
 '0zz5jqghqy',
 '0zz9h74d0d',
 '0zzvdwewcv',
 '10',
 '100',
 '1000',
 '10000',
 '100000',
 '10000000',
 '1000000pcs',
 '100000pcs',
 '10000ksh',
 '100042',
 '1000am',
 '1000cr',
 '1000hrs',
 '1000kr',
 '1000ml',
 '1000pw',
 '1000th',
 '1000x',
 '100237',
 '10047',
 '1005freshradio',
 '1007',
 '1008',
 '10096',
 '100armyofwoahâ',
 '100b',
 '100bn',
 '100cns',
 '100daysofcode',
 '100k',
 '100m',
 '100ml',
 '100pcs',
 '100percent',
 '100pm',
 '100these',
 '100â',
 '101',
 '10103',
 '1010wins',
 '1015553042',
 '1017challenge',
 '102',
 '1025',
 '1027',
 '1028',
 '103',
 '1030',
 '103097596',
 '1030am',
 '1030pm',
 '1031',
 '1035',
 '104',
 '1041',
 '10482',
 '1049',
 '105',
 '1053thefan',
 '106',
 '1068',
 '107',
 '1072',
 '108',
 '1080',
 '10841',
 '10862',
 '1088690',
 '1089',
 '109',
 '1095',
 '1099',
 '10am',
 '10b',
 '10baje',
 '10best',
 '10bil',
 '10bottles',
 '10c',
 '10d4krhp1o',
 '10down',
 '10downingstreet',
 '10ft',
 '10hr',
 '10jdv8m0lj',
 '10k',
 '10kg',
 '10kioxr43u',
 '10lbs',
 '10m',
 '10mbd',
 '10mins',
 '10newsfirst',
 '10p',
 '10pm',
 '10rt5ynw7l',
 '10sedmcar6',
 '10tampabay',
 '10th',
 '10times',
 '10undeipgu',
 '10wmhmnnug',
 '10wuujxmk6',
 '10x',
 '10xgreenere5',
 '10years',
 '10yo',
 '10yrs',
 '10â',
 '10ã',
 '11',
 '110',
 '1100',
 '11000',
 '110000',
 '110049',
 '1108',
 '110922066',
 '111',
 '11104',
 '1111',
 '1116sen',
 '11172',
 '111898',
 '112',
 '1128',
 '11280',
 '112b',
 '113',
 '1130',
 '113000',
 '1130593481',
 '1133',
 '114',
 '1141',
 '115',
 '1150',
 '1159pm',
 '115k',
 '116',
 '1160',
 '116mx2',
 '117',
 '1171',
 '118',
 '1182',
 '118bdyrbvl',
 '119',
 '1190',
 '1199',
 '1199seiumddc',
 '11a',
 '11am',
 '11bn',
 '11bqrymhvv',
 '11fs',
 '11m',
 '11nphu3gbu',
 '11p',
 '11pm',
 '11pn',
 '11th',
 '11z5c2sjan',
 '11zsyjmwud',
 '11â',
 '12',
 '120',
 '1200',
 '12000',
 '1200am',
 '1200shs',
 '1203',
 '120320',
 '1204',
 '1205',
 '1206zdray7',
 '120m',
 '120ml',
 '121',
 '121011',
 '1216',
 '12165',
 '1219',
 '122',
 '1220',
 '1228',
 '12285',
 '123',
 '1230',
 '1230pm',
 '12335',
 '1236',
 '124',
 '124p',
 '124pc',
 '125',
 '1250',
 '125000',
 '125am',
 '125l5k9qxr',
 '126',
 '1262',
 '1274',
 '127p',
 '128',
 '1299',
 '12am',
 '12amiâ',
 '12apr',
 '12gyseyyxv',
 '12k',
 '12km',
 '12lpot1tx4',
 '12m',
 '12mb',
 '12news',
 '12oz',
 '12p',
 '12pm',
 '12pmâ',
 '12th',
 '12weeks',
 '12wk',
 '12x9iuoxqs',
 '12yrs',
 '13',
 '130',
 '1300',
 '13000',
 '130000',
 '131',
 '1310',
 '1317',
 '132',
 '1321',
 '1326',
 '133',
 '1339',
 '134',
 '1340',
 '13400',
 '135',
 '1350',
 '1355',
 '135blnworthgov',
 '135dkk',
 '136',
 '1369coffeehouse',
 '137',
 '1372',
 '137gin',
 '139',
 '1395',
 '13b',
 '13billion',
 '13bn',
 '13ezwmjmjn',
 '13ga00w3ml',
 '13hourdays',
 '13k',
 '13m',
 '13th',
 '13thno',
 '14',
 '140',
 '1400',
 '14000',
 '140000',
 '1403',
 '140k',
 '14118',
 '141ehraw34',
 '142',
 '14200',
 '14200s',
 '1425',
 '1427',
 '1428',
 '143',
 '14300',
 '14322',
 '1436',
 '144',
 '1442',
 '145',
 '1450',
 '1455',
 '145pm',
 '147',
 '1470',
 '14713',
 '14799',
 '148',
 '148589',
 '149',
 '14900',
 '1494',
 '1499',
 '14999',
 '14b',
 '14daypostcruisecountdown',
 '14days',
 '14en1q6inu',
 '14fy9gbtku',
 '14gc1qikxc',
 '14ggvoythn',
 '14hrs',
 '14k',
 '14m',
 '14mgnv6omg',
 '14news',
 '14oz',
 '14th',
 '14uzmfrxq6',
 '14x',
 '14xdzmfufd',
 '15',
 '150',
 '1500',
 '15000',
 '150000',
 '150000000',
 '1500rs',
 '1501',
 '1502',
 '1505',
 '1509',
 '150b',
 '150k',
 '151',
 '151515',
 '15257185386',
 '153',
 '15300',
 '154',
 '155',
 '156',
 '156ydarwc9',
 '157',
 '158',
 '1583916',
 '1585',
 '158puqbeqx',
 '159',
 '15900',
 '15925',
 '1595',
 '1599â',
 '15b',
 '15bn',
 '15days',
 '15gb',
 '15hxyllu0g',
 '15issynl3v',
 '15k',
 '15kg',
 '15m',
 '15min',
 '15mins',
 '15pm',
 '15t',
 '15th',
 '15uifxnpwj',
 '15we0yimun',
 '15wlpi2njo',
 '15â',
 '16',
 '160',
 '1600',
 '16000',
 '160000',
 '1609',
 '160m',
 '161',
 '161808',
 '1627',
 '163',
 '16339p',
 '1637',
 '164',
 '1640',
 '164100',
 '1645',
 '1649wn4z70',
 '165',
 '1650',
 '165millon',
 '16645',
 '1665',
 '1666981',
 '167',
 '1677',
 '1680',
 '16800km',
 '168682',
 '169',
 '1690',
 '1693',
 '16973',
 '169880',
 '1699',
 '1699thatâ',
 '169kqapgtv',
 '16kxgppmxi',
 '16m',
 '16mar20',
 '16mn',
 '16nd98wvrh',
 '16nh5wuzox',
 '16oz',
 '16pk',
 '16qtsq7xgu',
 '16t',
 '16th',
 '16uruobkbo',
 '16wm8thily',
 '16xkmzjmjq',
 '16xs5pulkt',
 '16yddlig53',
 '17',
 '170',
 '1700',
 '17000',
 '170000',
 '171525',
 '172',
 '172220',
 '1733',
 '173983',
 '174',
 '1740',
 '175',
 '1759',
 '176',
 '177',
 '17700',
 '17701',
 '1775',
 '178',
 '17844',
 '179',
 '1797',
 '1799',
 ...]

In [ ]:
# Linear Classifier on Count Vectors
accuracy = train_model(linear_model.LogisticRegression(), xtrain_count, train_y, xvalid_count)
print ("LR, Count Vectors: ", accuracy)
accuracyArr.append(accuracy)

# Linear Classifier on Word Level TF IDF Vectors
accuracy = train_model(linear_model.LogisticRegression(), xtrain_tfidf, train_y, xvalid_tfidf)
print ("LR, WordLevel TF-IDF: ", accuracy)
accuracyArr.append(accuracy)

# Linear Classifier on Ngram Level TF IDF Vectors
accuracy = train_model(linear_model.LogisticRegression(), xtrain_tfidf_ngram, train_y, xvalid_tfidf_ngram)
print ("LR, N-Gram Vectors: ", accuracy)
accuracyArr.append(accuracy)

# Linear Classifier on Character Level TF IDF Vectors
accuracy = train_model(linear_model.LogisticRegression(), xtrain_tfidf_ngram_chars, train_y, xvalid_tfidf_ngram_chars)
print ("LR, CharLevel Vectors: ", accuracy)
accuracyArr.append(accuracy)

In [72]:
model['go']

array([-0.078894,  0.4616  ,  0.57779 , -0.71637 , -0.13121 ,  0.4186  ,
       -0.29156 ,  0.52006 ,  0.089986, -0.35062 ,  0.51755 ,  0.51998 ,
        0.15218 ,  0.41485 , -0.12377 , -0.37222 ,  0.0273  ,  0.75673 ,
       -0.8739  ,  0.58935 ,  0.46662 ,  0.62918 ,  0.092603, -0.012868,
       -0.015169,  0.25567 , -0.43025 , -0.77668 ,  0.71449 , -0.3834  ,
       -0.69638 ,  0.23522 ,  0.11396 ,  0.02778 ,  0.071357,  0.87409 ,
       -0.1281  ,  0.063576,  0.067867, -0.50181 , -0.28523 , -0.072536,
       -0.50738 , -0.6914  , -0.53579 , -0.11361 , -0.38234 , -0.12414 ,
        0.011214, -1.1622  ,  0.037057, -0.18495 ,  0.01416 ,  0.87193 ,
       -0.097309, -2.3565  , -0.14554 ,  0.28275 ,  2.0053  ,  0.23439 ,
       -0.38298 ,  0.69539 , -0.44916 , -0.094157,  0.90527 ,  0.65764 ,
        0.27628 ,  0.30688 , -0.57781 , -0.22987 , -0.083043, -0.57236 ,
       -0.299   , -0.81112 ,  0.039752, -0.05681 , -0.48879 , -0.18091 ,
       -0.28152 , -0.20559 ,  0.4932  , -0.033999, -0.53139 , -0.28297 ,
       -1.4475  , -0.18685 ,  0.091177,  0.11454 , -0.28168 , -0.33565 ,
       -0.31663 , -0.1089  ,  0.10111 , -0.23737 , -0.64955 , -0.268   ,
        0.35096 ,  0.26352 ,  0.59397 ,  0.26741 ], dtype=float32)

# koniec wektoryzacji

In [92]:
# split the dataset into training and validation datasets 
#train_x, valid_x, train_y, valid_y = model_selection.train_test_split(train['OriginalTweet'], test['OriginalTweet'])
train_x, train_y= model_selection.train_test_split(trainDF['OriginalTweet'])
# label encode the target variable 
encoder = preprocessing.LabelEncoder()
train_y = encoder.fit_transform(train_y)
#valid_y = encoder.fit_transform(valid_y)
train_y[0:5]

array([  219,  1589,   450, 10192,  4689])