In [78]:
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics, svm
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn import decomposition, ensemble

import pandas as pd
import xgboost, numpy, textblob, string
from keras.preprocessing import text, sequence
from keras import layers, models, optimizers

import nltk

from textblob import TextBlob

In [91]:
nltk.download('stopwords')
from nltk.corpus import stopwords
stop=stopwords.words('english')

nltk.download('punkt')

from nltk.stem import PorterStemmer

from textblob import Word
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mxnog\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\mxnog\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\mxnog\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [64]:
train=pd.read_csv("Corona_NLP_train.csv",encoding='latin1')
test=pd.read_csv("Corona_NLP_test.csv",encoding='latin1')
train

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,Response to complaint not provided citing COVI...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,You know itÂs getting tough when @KameronWild...,Positive
41155,44954,89906,NaN,14-04-2020,Is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative

In [65]:
train['word_count']=train['OriginalTweet'].apply(lambda x: len(str(x).split(" ")))
train[['OriginalTweet', 'word_count']].head(10)

                                       OriginalTweet  word_count
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...           8
1  advice Talk to your neighbours family to excha...          38
2  Coronavirus Australia: Woolworths to give elde...          14
3  My food stock is not the only one which is emp...          40
4  Me, ready to go at supermarket during the #COV...          38
5  As news of the regionÂs first confirmed COVID...          36
6  Cashier at grocery store was sharing his insig...          28
7  Was at the supermarket today. Didn't buy toile...          12
8  Due to COVID-19 our retail store and classroom...          46
9  For corona prevention,we should stop to buy th...          42

In [66]:
train['char_count']=train['OriginalTweet'].str.len()
train[['OriginalTweet', 'char_count']].head(10)

                                       OriginalTweet  char_count
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...         111
1  advice Talk to your neighbours family to excha...         237
2  Coronavirus Australia: Woolworths to give elde...         131
3  My food stock is not the only one which is emp...         306
4  Me, ready to go at supermarket during the #COV...         310
5  As news of the regionÂs first confirmed COVID...         250
6  Cashier at grocery store was sharing his insig...         180
7  Was at the supermarket today. Didn't buy toile...         119
8  Due to COVID-19 our retail store and classroom...         280
9  For corona prevention,we should stop to buy th...         267

In [67]:
def avg_word(sentence):
    words=sentence.split()
    return (sum(len(word) for word in words)/len(words))
train['avg_words'] = train['OriginalTweet'].apply(lambda x:avg_word(x))
train[['OriginalTweet', 'avg_words']].head(10)

                                       OriginalTweet  avg_words
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...  13.000000
1  advice Talk to your neighbours family to excha...   5.263158
2  Coronavirus Australia: Woolworths to give elde...   8.428571
3  My food stock is not the only one which is emp...   6.000000
4  Me, ready to go at supermarket during the #COV...   6.525000
5  As news of the regionÂs first confirmed COVID...   5.972222
6  Cashier at grocery store was sharing his insig...   5.464286
7  Was at the supermarket today. Didn't buy toile...   7.846154
8  Due to COVID-19 our retail store and classroom...   5.222222
9  For corona prevention,we should stop to buy th...   5.380952

In [68]:
train['stopwords']=train['OriginalTweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['OriginalTweet', 'stopwords']].head(10)

                                       OriginalTweet  stopwords
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...          2
1  advice Talk to your neighbours family to excha...         11
2  Coronavirus Australia: Woolworths to give elde...          1
3  My food stock is not the only one which is emp...         14
4  Me, ready to go at supermarket during the #COV...         13
5  As news of the regionÂs first confirmed COVID...          8
6  Cashier at grocery store was sharing his insig...          9
7  Was at the supermarket today. Didn't buy toile...          2
8  Due to COVID-19 our retail store and classroom...         18
9  For corona prevention,we should stop to buy th...         16

In [69]:
specialPatt=r"[^a-zA-Z0-9 ]"
train['special_characters']=train['OriginalTweet'].str.findall(specialPatt)
train['special_characters']=train['special_characters'].apply(lambda x: len(x))
train[['OriginalTweet', 'special_characters']].head(10)

                                       OriginalTweet  special_characters
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...                  19
1  advice Talk to your neighbours family to excha...                   0
2  Coronavirus Australia: Woolworths to give elde...                   8
3  My food stock is not the only one which is emp...                  37
4  Me, ready to go at supermarket during the #COV...                  35
5  As news of the regionÂs first confirmed COVID...                  15
6  Cashier at grocery store was sharing his insig...                  12
7  Was at the supermarket today. Didn't buy toile...                  18
8  Due to COVID-19 our retail store and classroom...                  12
9  For corona prevention,we should stop to buy th...                   8

In [70]:
train['numerics'] = train['OriginalTweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train[['OriginalTweet', 'numerics']].head(10)

                                       OriginalTweet  numerics
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...         0
1  advice Talk to your neighbours family to excha...         0
2  Coronavirus Australia: Woolworths to give elde...         0
3  My food stock is not the only one which is emp...         0
4  Me, ready to go at supermarket during the #COV...         0
5  As news of the regionÂs first confirmed COVID...         0
6  Cashier at grocery store was sharing his insig...         0
7  Was at the supermarket today. Didn't buy toile...         0
8  Due to COVID-19 our retail store and classroom...         0
9  For corona prevention,we should stop to buy th...         0

In [71]:
train['upper_count'] = train['OriginalTweet'].apply(lambda x: len([x for x in x.split() if x.isupper]))
train[['OriginalTweet', 'upper_count']].head(10)

                                       OriginalTweet  upper_count
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...            8
1  advice Talk to your neighbours family to excha...           38
2  Coronavirus Australia: Woolworths to give elde...           14
3  My food stock is not the only one which is emp...           42
4  Me, ready to go at supermarket during the #COV...           40
5  As news of the regionÂs first confirmed COVID...           36
6  Cashier at grocery store was sharing his insig...           28
7  Was at the supermarket today. Didn't buy toile...           13
8  Due to COVID-19 our retail store and classroom...           45
9  For corona prevention,we should stop to buy th...           42

In [72]:
train['OriginalTweet'] = train['OriginalTweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['OriginalTweet'].head(10)

0    @menyrbie @phil_gahan @chrisitv https://t.co/i...
1    advice talk to your neighbours family to excha...
2    coronavirus australia: woolworths to give elde...
3    my food stock is not the only one which is emp...
4    me, ready to go at supermarket during the #cov...
5    as news of the regionâs first confirmed covid...
6    cashier at grocery store was sharing his insig...
7    was at the supermarket today. didn't buy toile...
8    due to covid-19 our retail store and classroom...
9    for corona prevention,we should stop to buy th...
Name: OriginalTweet, dtype: object

In [73]:
train['OriginalTweet'] = train['OriginalTweet'].str.replace(r"(\.|\,|!|\?|:|;)", '')
train['OriginalTweet'].head(10)

0    @menyrbie @phil_gahan @chrisitv https//tco/ifz...
1    advice talk to your neighbours family to excha...
2    coronavirus australia woolworths to give elder...
3    my food stock is not the only one which is emp...
4    me ready to go at supermarket during the #covi...
5    as news of the regionâs first confirmed covid...
6    cashier at grocery store was sharing his insig...
7    was at the supermarket today didn't buy toilet...
8    due to covid-19 our retail store and classroom...
9    for corona preventionwe should stop to buy thi...
Name: OriginalTweet, dtype: object

In [74]:
train['OriginalTweet'] = train['OriginalTweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['OriginalTweet'].head(10)

0    @menyrbie @phil_gahan @chrisitv https//tco/ifz...
1    advice talk neighbours family exchange phone n...
2    coronavirus australia woolworths give elderly ...
3    food stock one empty please panic enough food ...
4    ready go supermarket #covid19 outbreak i'm par...
5    news regionâs first confirmed covid-19 case c...
6    cashier grocery store sharing insights #covid_...
7    supermarket today buy toilet paper #rebel #toi...
8    due covid-19 retail store classroom atlanta op...
9    corona preventionwe stop buy things cash use o...
Name: OriginalTweet, dtype: object

In [75]:
freq=pd.Series(' '.join(train['OriginalTweet']).split()).value_counts()[:10]
freq

#coronavirus    15816
prices           7728
covid-19         7235
food             6698
store            6688
supermarket      6557
grocery          6023
#covid19         5613
people           5436
consumer         4214
dtype: int64

In [76]:
freq=list(freq.index)
train['OriginalTweet']= train['OriginalTweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['OriginalTweet'].head(10)

0    @menyrbie @phil_gahan @chrisitv https//tco/ifz...
1    advice talk neighbours family exchange phone n...
2    coronavirus australia woolworths give elderly ...
3    stock one empty please panic enough everyone t...
4    ready go outbreak i'm paranoid stock litteraly...
5    news regionâs first confirmed case came sulli...
6    cashier sharing insights #covid_19 prove credi...
7    today buy toilet paper #rebel #toiletpapercris...
8    due retail classroom atlanta open walk-in busi...
9    corona preventionwe stop buy things cash use o...
Name: OriginalTweet, dtype: object

In [61]:
leastFreq=pd.Series(' '.join(train['OriginalTweet']).split()).value_counts()[-10:]
leastFreq

gallon#findthegood       1
luxuriously              1
#followme                1
#talkepilepsy            1
https//tco/4yq1y8q6pv    1
#spolutozvladneme        1
https//tco/epofvbszqt    1
https//tco/sokipmrtrb    1
uphence                  1
https//tco/qvftkbnynj    1
dtype: int64

In [77]:
leastFreq= list(leastFreq.index)
train['OriginalTweet'] = train['OriginalTweet'].apply(lambda x: " ".join(x for x in x.split() if x not in leastFreq))
train['OriginalTweet'].head(10)

0    @menyrbie @phil_gahan @chrisitv https//tco/ifz...
1    advice talk neighbours family exchange phone n...
2    coronavirus australia woolworths give elderly ...
3    stock one empty please panic enough everyone t...
4    ready go outbreak i'm paranoid stock litteraly...
5    news regionâs first confirmed case came sulli...
6    cashier sharing insights #covid_19 prove credi...
7    today buy toilet paper #rebel #toiletpapercris...
8    due retail classroom atlanta open walk-in busi...
9    corona preventionwe stop buy things cash use o...
Name: OriginalTweet, dtype: object

In [88]:
train['OriginalTweet'][:5].apply(lambda x: str(TextBlob(x).correct()))
#ZMIENIĆ NA WSZYSTKIE

0    @menyrbie @phil_gahan @christ http//to/ifz9fan...
1    advice talk neighbours family exchange phone n...
2    coronavirus australia woolworths give elderly ...
3    stock one empty please panic enough everyone t...
4    ready go outbreak i'm paranoid stock literary ...
Name: OriginalTweet, dtype: object

In [87]:
TextBlob(train['OriginalTweet'][1]).words
#ZMIENIĆ NA WSZYSTKIE

WordList(['advice', 'talk', 'neighbours', 'family', 'exchange', 'phone', 'numbers', 'create', 'contact', 'list', 'phone', 'numbers', 'neighbours', 'schools', 'employer', 'chemist', 'gp', 'set', 'online', 'shopping', 'accounts', 'poss', 'adequate', 'supplies', 'regular', 'meds', 'order'])

In [90]:
st = PorterStemmer()
train['OriginalTweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
#ZMIENIĆ NA WSZYSTKIE

0    @menyrbi @phil_gahan @chrisitv https//tco/ifz9...
1    advic talk neighbour famili exchang phone numb...
2    coronaviru australia woolworth give elderli di...
3    stock one empti pleas panic enough everyon tak...
4    readi go outbreak i'm paranoid stock litterali...
Name: OriginalTweet, dtype: object

In [93]:
train['OriginalTweet'] = train['OriginalTweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
train['OriginalTweet'].head(10)

0    @menyrbie @phil_gahan @chrisitv https//tco/ifz...
1    advice talk neighbour family exchange phone nu...
2    coronavirus australia woolworth give elderly d...
3    stock one empty please panic enough everyone t...
4    ready go outbreak i'm paranoid stock litteraly...
5    news regionâs first confirmed case came sulli...
6    cashier sharing insight #covid_19 prove credib...
7    today buy toilet paper #rebel #toiletpapercris...
8    due retail classroom atlanta open walk-in busi...
9    corona preventionwe stop buy thing cash use on...
Name: OriginalTweet, dtype: object

In [13]:
# df=pd.concat([train,test])
# df['OriginalTweet']=df['OriginalTweet'].astype(str)
# df['Sentiment']=df['Sentiment'].astype(str)

# train['OriginalTweet']=train['OriginalTweet'].astype(str)
# train['Sentiment']=train['Sentiment'].astype(str)

# test['OriginalTweet']=test['OriginalTweet'].astype(str)
# test['Sentiment']=test['Sentiment'].astype(str)
# df.head()

In [11]:
# print('Training Set Shape = {}'.format(train.shape))
# print('Training Set Memory Usage = {:.2f} MB'.format(train.memory_usage().sum() / 1024**2))
# print('Test Set Shape = {}'.format(test.shape))
# print('Test Set Memory Usage = {:.2f} MB'.format(test.memory_usage().sum() / 1024**2))
# print("\n")
# print(train.head())
# print("\n")
# print(train.info())

Training Set Shape = (41157, 6)
Training Set Memory Usage = 1.88 MB
Test Set Shape = (3798, 6)
Test Set Memory Usage = 0.17 MB


   UserName  ScreenName   Location     TweetAt  \
0      3799       48751     London  16-03-2020
1      3800       48752         UK  16-03-2020
2      3801       48753  Vagabonds  16-03-2020
3      3802       48754        NaN  16-03-2020
4      3803       48755        NaN  16-03-2020

                                       OriginalTweet           Sentiment
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1  advice Talk to your neighbours family to excha...            Positive
2  Coronavirus Australia: Woolworths to give elde...            Positive
3  My food stock is not the only one which is emp...            Positive
4  Me, ready to go at supermarket during the #COV...  Extremely Negative


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41157 entries, 0 to 41156
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UserName       41157 non-null  int64
 1   ScreenName     41157 non-null  int64
 2   Location       32567 non-null  object
 3   TweetAt        41157 non-null  object
 4   OriginalTweet  41157 non-null  object
 5   Sentiment      41157 non-null  object
dtypes: int64(2), object(4)
memory usage: 1.9+ MB
None

In [5]:
# # train.drop_duplicates()
# print(" Shape of dataframe after dropping duplicates: ", df.shape)

 Shape of dataframe after dropping duplicates:  (44955, 6)

In [6]:
# print('Total tweets in this data: {}'.format(df.shape[0]))
# print('Total Unique Users in this data: {}'.format(df['UserName'].nunique()))

Total tweets in this data: 44955
Total Unique Users in this data: 44955

In [7]:
# null= df.isnull().sum().sort_values(ascending=False)
# total =df.shape[0]
# percent_missing= (df.isnull().sum()/total).sort_values(ascending=False)

# missing_data= pd.concat([null, percent_missing], axis=1, keys=['Total missing', 'Percent missing'])

# missing_data.reset_index(inplace=True)
# missing_data= missing_data.rename(columns= { "index": " column name"})
 
# print ("Null Values in each column:\n", missing_data)

Null Values in each column:
      column name  Total missing  Percent missing
0       Location           9424         0.209632
1      Sentiment              0         0.000000
2  OriginalTweet              0         0.000000
3        TweetAt              0         0.000000
4     ScreenName              0         0.000000
5       UserName              0         0.000000

In [8]:
# print(df.Sentiment.unique())
# print(df.Sentiment.value_counts())

['Neutral' 'Positive' 'Extremely Negative' 'Negative' 'Extremely Positive']
Positive              12369
Negative              10958
Neutral                8332
Extremely Positive     7223
Extremely Negative     6073
Name: Sentiment, dtype: int64

In [9]:
# # We will copy the text in another column so that the original text is also there for comparison

# df['text'] = df.OriginalTweet
# df["text"] = df["text"].astype(str)

# train['text'] = train.OriginalTweet
# train["text"] = train["text"].astype(str)

# test['text'] = test.OriginalTweet
# test["text"] = test["text"].astype(str)

# # Data has 5 classes, let's convert them to 3

# def classes_def(x):
#     if x ==  "Extremely Positive":
#         return "positive"
#     elif x == "Extremely Negative":
#         return "negative"
#     elif x == "Negative":
#         return "negative"
#     elif x ==  "Positive":
#         return "positive"
#     else:
#         return "neutral"
    
# df['sentiment']=df['Sentiment'].apply(lambda x:classes_def(x))
# train['sentiment']=train['Sentiment'].apply(lambda x:classes_def(x))
# test['sentiment']=test['Sentiment'].apply(lambda x:classes_def(x))
# target=df['sentiment']

# df.sentiment.value_counts(normalize= True)

positive    0.435814
negative    0.378846
neutral     0.185341
Name: sentiment, dtype: float64